In [1]:
x = [0,2,3,4,5]
for i in x:
    print(i)

0
2
3
4
5

In [1]:
colors = ['red','pink','purple']
for val in colors:
    print(f'We got {val}')

We got red
We got pink
We got purple

In [6]:
for i in range(1,31):
    print(i, end="ðŸ˜‚")

1ðŸ˜‚2ðŸ˜‚3ðŸ˜‚4ðŸ˜‚5ðŸ˜‚6ðŸ˜‚7ðŸ˜‚8ðŸ˜‚9ðŸ˜‚10ðŸ˜‚11ðŸ˜‚12ðŸ˜‚13ðŸ˜‚14ðŸ˜‚15ðŸ˜‚16ðŸ˜‚17ðŸ˜‚18ðŸ˜‚19ðŸ˜‚20ðŸ˜‚21ðŸ˜‚22ðŸ˜‚23ðŸ˜‚24ðŸ˜‚25ðŸ˜‚26ðŸ˜‚27ðŸ˜‚28ðŸ˜‚29ðŸ˜‚30ðŸ˜‚

In [7]:
for i in range(1,11):
    print(f'2 X {i} = {2 * i}')

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

In [1]:
for i in range(1, 100, 5):
    print(i, end=' ')

1 6 11 16 21 26 31 36 41 46 51 56 61 66 71 76 81 86 91 96

In [2]:
#reverse loop
for i in range(10, 0, -1):
    print(i, end=' ')

10 9 8 7 6 5 4 3 2 1

In [3]:
veg = ['potato', 'tomato', 'onion', 'cabbage', 'carrot']
for item in veg:
    print(item)

potato
tomato
onion
cabbage
carrot

In [4]:
#enumerate()
for item in enumerate(veg):
    print(item)

(0, 'potato')
(1, 'tomato')
(2, 'onion')
(3, 'cabbage')
(4, 'carrot')

In [5]:
for index, value in enumerate(veg):
    print(index,'got', value)

0 got potato
1 got tomato
2 got onion
3 got cabbage
4 got carrot

In [6]:
#zip
veg = ['potato', 'tomato', 'onion', 'cabbage', 'carrot']
prices = [35, 80, 30, 15, 30]

In [7]:
for i in range(5):
    print(f'{veg[i]} ------- {prices[i]}')

potato ------- 35
tomato ------- 80
onion ------- 30
cabbage ------- 15
carrot ------- 30

In [8]:
for v,p in zip(veg, prices):
    print(f'{v} ----- {p}')

potato ----- 35
tomato ----- 80
onion ----- 30
cabbage ----- 15
carrot ----- 30

### wap to print the following lists using zip
- list1 contains movie title
- list2 contains movie rating
- list3 contains movie year
- list4 contains movie director

In [2]:
movie = ['Ironman', 'Captain America : Civil War', 'Doctor Strange', 'Black Panther', 'Thor']
rating = [8.2,8.0,8.5,9.0,8.6]
year = [2008,2016,2016,2018,2011]
director = ['Jon Favreau','Anthony & Joe Russo', 'Scott Derrickson','Ryan Coogler','Kenneth Branagh']

In [3]:
for m,r,y,d in zip(movie, rating, year, director):
    print(f'{m} ----- {r} ----- {y} ----- {d}')

Ironman ----- 8.2 ----- 2008 ----- Jon Favreau
Captain America : Civil War ----- 8.0 ----- 2016 ----- Anthony & Joe Russo
Doctor Strange ----- 8.5 ----- 2016 ----- Scott Derrickson
Black Panther ----- 9.0 ----- 2018 ----- Ryan Coogler
Thor ----- 8.6 ----- 2011 ----- Kenneth Branagh

In [4]:
x = [1,2,3,4,0,0,5]
for i in x:
    if i == 0:
        break
    print(i)

1
2
3
4

In [5]:
x = [1,2,0,3,4,0,0,5]
for i in x:
    if i == 0:
        continue
    print(i)

1
2
3
4
5

In [14]:
num = int(input())
temp=0
for i in range(2,num):
    if num%i==0:
        temp+=1
if temp==0:
    print('It is a prime number')
else:
    print('It is not a prime number')

It is not a prime number

In [8]:
for i in range(5):
    if i == 3:
        break
    print(i)
else:
    print('done')

0
1
2