In [2]:
emp_dict = {
    'fname' : 'Amar',
    'lname' : 'deep',
    'dept' : 'finance',
    'age' : 31,
    'salary' : '10000',
    'its_manager' : True
}

In [3]:
print(emp_dict)

{'fname': 'Amar', 'lname': 'deep', 'dept': 'finance', 'age': 31, 'salary': '10000', 'its_manager': True}

In [4]:
#complex data

weather_data = {
'date' : '2019-01-01',
'temp' : 32,
'details' : {
'humidity' : 80,
'wind' : 10,
'pressure' : 30,
'aqi' : 120
},
'city' : 'lucknow',
'type' : 'sunshine',
'icon' : 'ðŸŽ‡'
}

accesing data from dictionary

In [5]:
list(weather_data.keys())

['date', 'temp', 'details', 'city', 'type', 'icon']

In [6]:
list(weather_data.values())

['2019-01-01',
 32,
 {'humidity': 80, 'wind': 10, 'pressure': 30, 'aqi': 120},
 'lucknow',
 'sunshine',
 'ðŸŽ‡']

In [7]:
list(emp_dict.keys())

['fname', 'lname', 'dept', 'age', 'salary', 'its_manager']

In [8]:
list(emp_dict.values())

['Amar', 'deep', 'finance', 31, '10000', True]

In [9]:
weather_data['city']

'lucknow'

In [10]:
weather_data['details']

{'humidity': 80, 'wind': 10, 'pressure': 30, 'aqi': 120}

In [11]:
weather_data.get('temp')

32

In [12]:
weather_data.get('location')

In [13]:
weather_data.get('city','not found')

'lucknow'

In [14]:
weather_data.get('location','not found')

'not found'

looping over a dictionary

In [15]:
for k in emp_dict:
    print(k,'=>',emp_dict[k])

fname => Amar
lname => deep
dept => finance
age => 31
salary => 10000
its_manager => True

looping over a dictionary using items()

In [16]:
for k,v in emp_dict.items():
    print(k,'=>',v)

fname => Amar
lname => deep
dept => finance
age => 31
salary => 10000
its_manager => True

#updating an entry in dictionary

In [17]:
weather_data['temp'] = 35

In [18]:
weather_data

{'date': '2019-01-01',
 'temp': 35,
 'details': {'humidity': 80, 'wind': 10, 'pressure': 30, 'aqi': 120},
 'city': 'lucknow',
 'type': 'sunshine',
 'icon': 'ðŸŽ‡'}

In [19]:
#adding
emp_dict['designation'] = 'Asst A'
print(emp_dict)

{'fname': 'Amar', 'lname': 'deep', 'dept': 'finance', 'age': 31, 'salary': '10000', 'its_manager': True, 'designation': 'Asst A'}

In [21]:
#updating
emp_dict['designation'] = 'section manager'
emp_dict['salary'] = 30000
print(emp_dict)

{'fname': 'Amar', 'lname': 'deep', 'dept': 'finance', 'age': 31, 'salary': 30000, 'its_manager': True, 'designation': 'section manager'}

In [27]:
if 'designation' in emp_dict:
    emp_dict.pop('designation')
print(emp_dict)

{'fname': 'Amar', 'lname': 'deep', 'dept': 'finance', 'age': 31, 'salary': 30000, 'its_manager': True}

In [30]:
reports = {
    '001': {
        'name': 'Amar',
        'subjects': {'English': 80, 'Maths': 90, 'Science': 95}
    },
    '002': {
        'name': 'Vijay',
        'subjects': {'English': 70, 'Maths': 60, 'Science': 85}
    },
    '003': {
        'name': 'Raj',
        'subjects': {'English': 60, 'Maths': 50, 'Science': 45}
    },
}

In [31]:
reports

{'001': {'name': 'Amar',
  'subjects': {'English': 80, 'Maths': 90, 'Science': 95}},
 '002': {'name': 'Vijay',
  'subjects': {'English': 70, 'Maths': 60, 'Science': 85}},
 '003': {'name': 'Raj',
  'subjects': {'English': 60, 'Maths': 50, 'Science': 45}}}

In [41]:
for roll, data in reports.items():
    print(roll)
    for key, val in data.items():
        if isinstance(val, dict):
            print(key)
            total = 0#before loop set total marks to 0
            for sub, marks in val.items():
                print(sub, marks)
                total += marks #add marks to total
                print(f'Total: {total}/300')#display
                print(f'Percentage: {total/300*100:.2f}%')#display
        else:
            print(key, val)
    print('--'*10)

001
name Amar
subjects
English 80
Total: 80/300
Percentage: 26.67%
Maths 90
Total: 170/300
Percentage: 56.67%
Science 95
Total: 265/300
Percentage: 88.33%
--------------------
002
name Vijay
subjects
English 70
Total: 70/300
Percentage: 23.33%
Maths 60
Total: 130/300
Percentage: 43.33%
Science 85
Total: 215/300
Percentage: 71.67%
--------------------
003
name Raj
subjects
English 60
Total: 60/300
Percentage: 20.00%
Maths 50
Total: 110/300
Percentage: 36.67%
Science 45
Total: 155/300
Percentage: 51.67%
--------------------

File Handling 
 - open a file
 - reading a file
 - writing a file
 - appending a file

In [44]:
f = open('example.py')
print(f.read())

name = input("Enter your name")
print('Welcome', name)
amount = input("How much tea will you take")
print('Why would you want', amount,'tea')

In [49]:
f = open(r'C:\Users\harsh\OneDrive\Desktop\hello.txt')
content = f.read()
print(f'{len(content)} characters')

5 characters

In [52]:
data = 'hi everyone, this is a sample file'
with open('mydata.txt', 'w') as file: 
    file.write(data)

In [57]:
data = '\n this is a new file going to be written'
with open('mydata.txt', 'a') as file: 
    file.write(data)

In [58]:
file = 'bio.txt'
content = ''
while True:
    line = input('Enter a line(or q to quit):')
    if line == 'q':
        break
    content += line + '\n'
with open(file,'w') as f :
    f.write(content)
    print(f'File {file} saved')

File bio.txt saved