In [2]:
#tuple with mixed data types
my_tuple = (1, "Hello", 3.4)
print(my_tuple)

(1, 'Hello', 3.4)

In [3]:
#nested tuple
my_tuple = ("mouse", [8,4,5], (1,2,3))
print(my_tuple)

('mouse', [8, 4, 5], (1, 2, 3))

In [4]:
my_tuple = 3, 4.6, "Apple"
print(my_tuple)

(3, 4.6, 'Apple')

In [12]:
m_tuple = ('p','e','r','m','i','t')

print(m_tuple[0])

p

In [13]:
print(m_tuple[5])

t

In [10]:
n_tuple = ("mouse", [8,4,3], (1,2,3))

print(n_tuple[0][3])
print(n_tuple[1][1])

s
4

In [14]:
my_tuple = ('e','x','c','a','l','i','b','u','r')

In [15]:
print(my_tuple[1:4])

('x', 'c', 'a')

In [16]:
print(my_tuple[:-7])

('e', 'x')

In [17]:
print(my_tuple[7:])

('u', 'r')

In [18]:
print(my_tuple[:])

('e', 'x', 'c', 'a', 'l', 'i', 'b', 'u', 'r')

In [19]:
print((1,2,3) + (4,5,6))

(1, 2, 3, 4, 5, 6)

In [20]:
print(("Repeat",)*3)

('Repeat', 'Repeat', 'Repeat')

In [25]:
my_tuple = ('a','p','p','l','e')
print(my_tuple.count('p'))
print(my_tuple.index('l'))

2
3

SET

In [26]:
my_set = (1,2,3)
print(my_set)

(1, 2, 3)

In [27]:
my_set = {1.0,"Oye",(1,2,3)}
print(my_set)

{1.0, (1, 2, 3), 'Oye'}

In [30]:
my_set = set([1,2,3,2])
print(my_set)

{1, 2, 3}

In [28]:
my_set = {1,2,3,4,3,2}
print(my_set)

{1, 2, 3, 4}

In [33]:
A = {1,2,3,4,5,6}
B = {4,5,6,7,8,9}
print(A.union(B))

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [34]:
print(B.union(A))

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [36]:
print(A & B)

{4, 5, 6}

In [39]:
print(A - B) #A.difference(B)

{1, 2, 3}

In [38]:
print(B - A)

{8, 9, 7}

In [40]:
print(A.symmetric_difference(B)) #(A^B)

{1, 2, 3, 7, 8, 9}

In [48]:
A = {"fan", "bulb", "tv", "refrigerator"}
B = {"mobile", "laptop", "tablet", "earphones","fan", "tv"}
print(A.union(B))
print(A & B)
print(A - B)
print(A ^ B)

{'laptop', 'tablet', 'fan', 'mobile', 'bulb', 'tv', 'earphones', 'refrigerator'}
{'fan', 'tv'}
{'bulb', 'refrigerator'}
{'laptop', 'tablet', 'mobile', 'earphones', 'refrigerator', 'bulb'}